RewriteEngine On

RewriteRule "^client$" "inc/client.php" [END]
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule "^([a-zA-Z0-9]+)(?:\.[a-zA-Z0-9]+)?$" index.php?id=$1&hl=%1 [NE,END]
RewriteRule ".*" index.php [END]